
.property-filter-container {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
   
}

.form-select {
    border-color: #d1d1d1;
    height: 44px;
    font-size: 0.9rem;
    color: #555;
}

    .form-select:focus {
        border-color: #999;
        box-shadow: none;
    }

.btn-dark {
    background-color: #333;
    border: none;
    transition: all 0.3s ease;
}

    .btn-dark:hover {
        background-color: #222;
    }

.filter-title {
    color: #333;
    font-size: 1.5rem;
}

    .filter-title:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 2px;
        background-color: #333;
    }

.toggle-advanced-filters {
    transition: all 0.3s ease;
}

    .toggle-advanced-filters:hover {
        color: #000 !important;
    }

.advanced-filters {
    border-top: 1px solid #eee;
    padding-top: 20px;
}







/* Estilos para el contador de resultados */
.results-count {
    font-size: 1.1rem;
    color: #666;
    
}

    .results-count strong {
        font-weight: 600;
        color: #333;
    }

/* Estilos para el selector de ordenamiento */
.sorting-options {
    margin-bottom: 30px; /* Aumentado de 25px a 30px */
    padding: 10px 0; /* Añadido padding vertical */
    border-bottom: 1px solid #eee; /* Opcional: línea divisoria */
}

    .sorting-options select {
        border: 1px solid #ddd;
        border-radius: 4px;
       
        font-size: 0.85rem;
        background-color: #f8f9fa;
    
        box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Sutil sombra para profundidad */
        transition: all 0.3s ease; /* Transición suave para hover/focus */
    }

        .sorting-options select:hover {
            border-color: #8fc843; /* Efecto hover */
        }

        .sorting-options select:focus {
            outline: none;
            border-color: #8fc843;
           
        }
